.tz-weather-summary {
    font-size: 13px;
    .tz-non-breaking-block {
        display: inline-block;
        white-space: nowrap;
        margin-right: 5px;
        &:after {
            content: ',';
        }
        &:last-child:after {
            content: ' ';
        }
    }
}
